
header{
    width: 100%;
    height: 400px;
    background: url('../../assets/bg.png') center no-repeat;
    background-size: cover; 
    background-color: #3D1D7B;
    color: #fff;
    text-align: center;
}

.header-cont{
    max-width: 940px;
    width: 95%;
    margin: 0 auto;
    height: 400px;
    position: relative;
}

.header-cont img {
    left: 0;
    padding-left: 1%;
    position: absolute;
    padding-top: 33px;
}

.texto-header {
    max-width: 510px;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.texto-header h1 {
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 10px;
}

.texto-header p {
    font-size: 17px;
    font-weight: normal;
    padding: 0 40px;
    margin-bottom: 35px;
}

.verde{color: #68f285;}

.texto-header a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #68f285;
    text-decoration: none;
    padding: 11px 55px;
    border-radius: 30px;
}

@media screen and (max-width: 780px){
	.texto-header h1{
        font-size: 40px
    }
    .texto-header p{
        font-size: 15px;
        padding: 0 70px;
    }
    .logo img{
        width: 100px;
        padding-top: 50px;
        left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (max-width: 600px){
    
}

@media screen and (max-width: 500px){
    .logo img{
        width: 90px;
        padding-top: 45px;
        left: 50%;
        transform: translate(-50%);
    }
    .texto-header h1{
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 15px;
        padding: 0 20px;
    }
    .texto-header p{
        font-size: 14px;
    }
}
