@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background: #fafafa;
    color: #333;
}